[
    {mnesia, [
        {dir, "/tmp/mnesis/"}
    ]},
    {sasl, [
        {sasl_error_logger, {
            file, "/tmp/mnesis.sasl_log"}
        }
    ]},
    {mnesis, [
        {server_config, [
            {period, 1000},
            {num, 100},
            {port, 9527}
        ]},
        {clusters, []},
        {persistence, 1}
    ]}
].
